@tailwind base;
@tailwind components;
@tailwind utilities;

a, button {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.link {
    @apply text-link-light/60 dark:text-link-dark/50;
}

.link-hover {
    @apply link hover:text-link-light dark:hover:text-link-dark focus:text-link-light dark:focus:text-link-dark;
}

.btn-primary {
    @apply text-white bg-primary hover:bg-primary/80 focus:ring-2 focus:outline-none focus:ring-primary;
}

.table-data-cell {
    @apply py-5 sm:px-3 truncate max-w-[100px] xxs:max-w-[150px] xs:max-w-[250px] md:max-w-[350px] lg:max-w-[190px] xl:overflow-visible xl:text-ellipsis xl:whitespace-normal;
}
